body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

input, button, label {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#navBar {
    background: black;
    position: absolute;
    height: 60px;
    width: 100%;
    top:0px;
    left:0px;
}

#btnSignOut{
    color: white;
    position: relative;
    left: 90%;
    background: black;
    border: 0 solid black;
    top:50%;
    transform: translateY(-50%); 
}

#btnSignOut:hover {
    color: red;
}

#wholeRectangle{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 300px;
    height: 300px;
    border: 3px solid black;
}

.rect1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: red;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: argh-my-eyes 2s infinite;
}

.rect2 {
    position: absolute;
    left:150px;
    width: 147px;
    height: 150px;
    background: red;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: argh-my-eyes 1.5s infinite;
    border-left: 3px solid black;
    display: none;
}

.rect3 {
    position: absolute;
    top: 150px;
    width: 150px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: argh-my-eyes 1s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

.rect4 {
    position: absolute;
    left: 150px;
    top: 150px;
    width: 147px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -webkit-animation: argh-my-eyes 0.5s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#lblColor {
    position: absolute;
    left: 100px;
    top: 300px;
}

@keyframes argh-my-eyes {
    0% { background-color: orange}
    20.5% { background-color: orange}

    20.6% { background-color: blue}
    40.5% { background-color: blue}

    40.6%{ background-color: yellow}
    60.5% { background-color: yellow}

    60.6%{ background-color: green}
    80.5% { background-color: green}

    80.6%{ background-color: red}
    100% { background-color: red}
} 

#verticalBorder {
    position: absolute;
    /* width:px; */
    height: 100%;
    left: 50%;
    border: 2px solid black;
}
#horizontalBorder {
    position: absolute;
    width:50%;
    /* height: 100%; */
    left: 50%;
    top:55%;
    border: 2px solid black;
}
/* #rect1 {
    animation: argh-my-eyes 2s infinite;
} */

#gameData{
    position: absolute;
    left: 600px;
    top: 500px;
}


#btnShowUserData{
    position: absolute;
    left: 600px;
    top: 450px;
}