body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

input, button, label {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#navBar {
    background: black;
    position: absolute;
    height: 60px;
    width: 100%;
    top:0px;
    left:0px;
}

#btnSignOut{
    color: white;
    position: relative;
    left: 90%;
    background: black;
    border: 0 solid black;
    top:50%;
    transform: translateY(-50%); 
}

#btnTutorial{
    color: white;
    position: relative;
    left: 78%;
    background: black;
    border: 0 solid black;
    top:50%;
    transform: translateY(-50%); 
}

#btnSignOut:hover {
    color: red;
}

#wholeRectangle{
    position: absolute;
    top: 20%;
    left: 12%;
    width: 450px;
    height: 450px;
    border: 3px solid black;
}

#rect1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: red;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    animation-iteration-count: initial;
    -webkit-animation: colorChanger 3s infinite;
    display: none;
}

#rect2 {
    position: absolute;
    left:150px;
    width: 150px;
    height: 150px;
    background: red;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: colorChanger2 2s infinite;
    border-left: 3px solid black;
    display: none;
}

#rect3 {
    position: absolute;
    left: 300px;
    width: 147px;
    height: 150px;
    background: red;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: colorChanger3 1.8s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#rect4 {
    position: absolute;
    top: 150px;
    width: 150px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: colorChanger4 1.6s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#rect5 {
    position: absolute;
    left: 150px;
    top: 150px;
    width: 147px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -webkit-animation: colorChanger5 1.4s infinite;
    /* border-left: 3px solid black; */
    display: none;
}


#rect6 {
    position: absolute;
    left: 300px;
    top: 150px;
    width: 147px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -webkit-animation: colorChanger6 1.2s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#rect7 {
    position: absolute;
    top: 300px;
    width: 150px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    -webkit-animation: colorChanger7 1.1s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#rect8 {
    position: absolute;
    left: 150px;
    top: 300px;
    width: 147px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -webkit-animation: colorChanger8 1s infinite;
    /* border-left: 3px solid black; */
    display: none;
}

#rect9 {
    position: absolute;
    left: 300px;
    top: 300px;
    width: 147px;
    height: 147px;
    background: red;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    -webkit-animation: colorChanger9 0.8s infinite;
    /* border-left: 3px solid black; */
    display: none;
}



#lblColor {
    position: absolute;
    left: 100px;
    top: 300px;
}

@keyframes colorChanger {
    0% { background-color: orange}
    20.5% { background-color: orange}

    20.6% { background-color: blue}
    40.5% { background-color: blue}

    40.6%{ background-color: yellow}
    60.5% { background-color: yellow}

    60.6%{ background-color: green}
    80.5% { background-color: green}

    80.6%{ background-color: red}
    100% { background-color: red}
} 

@keyframes colorChanger2 {
    0% { background-color: blue}
    20.5% { background-color: blue}

    20.6% { background-color: yellow}
    40.5% { background-color: yellow}

    40.6%{ background-color: orange}
    60.5% { background-color: orange}

    60.6%{ background-color: green}
    80.5% { background-color: green}

    80.6%{ background-color: red}
    100% { background-color: red}
} 

@keyframes colorChanger3 {
    0% { background-color: yellow}
    20.5% { background-color: yellow}

    20.6% { background-color: green}
    40.5% { background-color: green}

    40.6% { background-color: blue}
    60.5% { background-color: blue}

    60.6%{ background-color: orange}
    80.5% { background-color: orange}

    80.6%{ background-color: red}
    100% { background-color: red}
} 

@keyframes colorChanger4 {
    0% { background-color: yellow}
    20.5% { background-color: yellow}

    20.6% { background-color: orange}
    40.5% { background-color: orange}

    40.6% { background-color: red}
    60.5% { background-color: red}

    60.6%{ background-color: green}
    80.5% { background-color: green}

    80.6%{ background-color: blue}
    100% { background-color: blue}
} 

@keyframes colorChanger5 {
    0% { background-color: yellow}
    20.5% { background-color: yellow}

    20.6% { background-color: orange}
    40.5% { background-color: orange}

    40.6% { background-color: green}
    60.5% { background-color:green}

    60.6%{ background-color: red}
    80.5% { background-color:red}

    80.6%{ background-color: blue}
    100% { background-color: blue}
} 

@keyframes colorChanger6 {
    0% { background-color: red}
    20.5% { background-color: red}

    20.6% { background-color: blue}
    40.5% { background-color: blue}

    40.6% { background-color: green}
    60.5% { background-color:green}

    60.6%{ background-color: yellow}
    80.5% { background-color:yellow}

    80.6%{ background-color: orange}
    100% { background-color: orange}
} 

@keyframes colorChanger7 {
    0% { background-color: red}
    20.5% { background-color: red}

    20.6% { background-color: yellow}
    40.5% { background-color: yellow}


    40.6% { background-color: green}
    60.5% { background-color:green}

    60.6%{ background-color: orange}
    80.5% { background-color:orange}

    80.6%{ background-color: blue}
    100% { background-color: blue}
}

@keyframes colorChanger8 {
    0% { background-color: red}
    16.6% { background-color: red}

    16.7% { background-color: purple}
    32.2% { background-color: purple}

    32.3% { background-color: green}
    48.9% { background-color: green}

    49% { background-color: yellow}
    65.6% { background-color:yellow}

    65.7%{ background-color: blue}
    82.3% { background-color:blue}

    82.4%{ background-color: orange}
    100% { background-color: orange}
}

@keyframes colorChanger9 {
    0% { background-color: green}
    12.5% { background-color: green}

    25.1% { background-color:blue}
    37.5% { background-color: blue}

    50.1%{ background-color: indigo}
    62.5% { background-color:indigo}

    62.6%{ background-color: red}
    75% { background-color: red}
    
    75.1%{ background-color: yellow}
    87.5% { background-color: yellow}

    87.6%{ background-color: orange}
    100% { background-color: orange}
}





#verticalBorder {
    position: absolute;
    /* width:px; */
    height: 100%;
    left: 50%;
    border: 2px solid black;
}
#horizontalBorder {
    position: absolute;
    width:50%;
    /* height: 100%; */
    left: 50%;
    top:55%;
    border: 2px solid black;
}

#btnPlay {
    top: 88%;
    left: 14%;
    width: 190px;
    height: 50px;
    position: absolute;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    
    /* margin: 4px 2px; */
    /* cursor: pointer; */
}

#btnTryAgain {
    top: 88%;
    left: 32%;
    width: 190px;
    height: 50px;
    position: absolute;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    
    /* margin: 4px 2px; */
    /* cursor: pointer; */
}
/* #rect1 {
    animation: argh-my-eyes 2s infinite;
} */


#gameData{
    position: absolute;
    left: 600px;
    top: 500px;
}


#btnShowUserData{
    position: absolute;
    left: 600px;
    top: 450px;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:84%;
}

.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
    top: 85%;
    left: 17%;
    width: 150px;
    height: 50px;
    position: absolute;
    font-size: 16px;
    border-radius: 8px;
}

.btn-primary {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
    top: 85%;
    left: 32%;
    width: 150px;
    height: 50px;
    position: absolute;
    font-size: 16px;
    border-radius: 8px;
}

