body {
    font-family: 'Nunito', sans-serif;
}

input, button, label {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#navBarChat {
    background: black;
    position: absolute;
    height: 30px;
    width: 100%;
    top:0px;
    left:0px;
}

#chatBoxLabel {
    position: absolute;
    color: white;
    top:50%;
    transform: translateY(-50%); 
    left: 5px;
}

#chatBox {
    position: fixed;
    width: 400px;
    height: 350px;
    top: 8%;
    left: 61%;
    border: 2px solid black;
    border-radius: 5px;

}

#handle {
    position: relative;
    width: 344px;
    display: block;
    top: 330px;
}

#chatWindow {
    position: relative;
    width: 100%;
    top: 9%;
    height: 80%;
    /* border: 1px solid black; */
    overflow-y: scroll;
    overflow-x: hidden;
}

#message {
    position: absolute;
    width: 85%;
    /* display: block; */
    top: 91%;
    left: 1%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

#send {
    position: absolute;
    /* width: 10%; */
    left: 88.2%;
    /* display: block; */
    top:91.6%;
    background: rgb(177, 177, 245);
    border-radius: 3px;
    border: 2px solid black;
    padding: 5px;
}
.gameDataDiv{
    position: relative;
    /* left: 700px;
    top: 550px; */
    height: 100px;
    width: 100px;
    top: 65%;
    left: 61%;
    border: black;
}
#LeaderBoard{
	position: absolute;
	left: 850px;
    top: 450px;
    top: 57%;
    left: 61%;
}

/* #gameTable{
	position: absolute;
	left:450px;
	top:280px;
} */
/* .gameDataDiv {
	overflow-y: scroll;
	height: 200px;
} */

/* #game_table_body{
	position: absolute;
	overflow-y: scroll;
	left:450px;
    top: 250px;
    height: 100px;
} */