body {
    background: #afffff;
    font-family: 'Nunito', sans-serif;
}

input, button, label {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

.loginDiv {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
}

.loginDiv label {
    display: block;
    margin-bottom: 20px;
}

.loginDiv input {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
}

.loginDiv button {
    background: #5d8ffc;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
}

.loginDiv button:hover {
    background: greenyellow;
    border: 2px solid greenyellow;
}